    <html>
        <head>
            <title>Wlepka сайт</title>
        </head>
        <body>
            <div>
                <h1><a href="">Wlepka blog</a></h1>
                <br />
                <br />
            </div>

            <div>
                <em>published: 28.06.2017, 16:22</em>
                <h2><a href="">Мысль первая</a></h2>
                <p>Вместо высказывания своих замыслов и откровений.</p>
                <p>Просто хочу сказать, что люблю свою жену!</p>
                <p><b>Дорогая, чмок, чмок!!!</b></p>
                <br />
                <br />
            </div>

            <div>
                <em>published: 28.06.2017, 16:31</em>
                <h2><a href="">Мысль вторая</a></h2>
                <p>Поехал я домой. Возможно, пока буду ехать что-нибудь придет в голову.</p>
            </div>
        </body>
    </html>
