    <html>
        <head>
            <title>Wlepka сайт</title>
        </head>
        <body>
            <div>
                <h1><a href="">Wlepka blog</a></h1>
                <br />
                <br />
            </div>

            
            {% for post in posts %}
                <div>
                    <p>published: {{ post.published_date }}</p>
                    <h1><a href="">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
          
        </body>
    </html>
